* {
  font-family: "Bungee", cursive;
  padding: 0;
  margin: 0;
}

ion-card {
    padding: 25px;
    width: 50vw;

    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    ion-button {
      margin-top: 10px;
      display: flex;
      align-items: center;
      align-items: center;
    }
}

@media screen and (max-width: 700px) {
  ion-card {
    width: 80vw;
  }
}