* {
  font-family: "Bungee", cursive;
  padding: 0;
  margin: 0;
}

ion-card {
    padding: 25px;
    width: 50vw;

    ion-button {

      margin-top: 10px;
      display: flex;
      align-items: center;
      align-items: center;
    }
}