<section id="section-linha-tempo">
  <div id="year-2023" #observer class="observer">
    <ion-title>2023</ion-title>
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>Apredendo mais tecnologias</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Foi neste ponto que intensifiquei meus estudos em tecnologia, iniciando com Vue.js e posteriormente avançando para Angular e Ionic. Essas inovações foram fundamentais para impulsionar não apenas minha expertise, mas também minha motivação para aprimorar constantemente meu conhecimento.
      </ion-card-content>
    </ion-card>
  </div>
  
  <div id="year-2022" #observer class="observer">
    <ion-title>2022</ion-title>
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>Desenvolvendo meu JavaScript</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Transitei para o curso de Sistemas de Informação no IFBA, onde iniciei meus estudos em Java por meio da grade curricular. Contudo, meu foco permanecia direcionado ao desenvolvimento web, com ênfase em JavaScript.
      </ion-card-content>
    </ion-card>
  </div>

  <div id="year-2021" #observer class="observer"> 
    <ion-title>2021</ion-title>
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>Começando no mundo da programação</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        No ensino médio, dei início aos estudos de HTML e CSS, desenvolvendo templates como parte do meu treinamento prático para consolidar e aplicar os conhecimentos adquiridos.
      </ion-card-content>
    </ion-card>
  </div>
</section>