#box-projects {
    background-color: #fff;

    display: flex;
    justify-content: space-between;

    ion-list {
      background-color: #d0d0d0;
      width: 23vw;
      height: 60vh;

      display: flex;
      flex-direction: column;
      justify-content: center;

      z-index: 100;

      ion-item {
        width: 100%;

        ion-label {
          color: #000;
          font-family: "Bungee", cursive;
          text-align: center;
        }

        .selected {
          color: var(--contrast);
        }
      }
    }

    @keyframes show-content {
      0% {
        opacity: 0;
        transform: translateX(-35%);
      }

      100% {
        opacity: 1;
        transform: translateX(0%);
      }
    }

    .box-project {
      display: flex;
      justify-content: space-between;

      .content {
        height: 60vh;
        width: 50vw;

        animation: show-content 0.4s ease-in-out;

        font-family: "Bungee", cursive;
        color: #000;
        padding: 10px 25px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        #deploy-box {
          flex-direction: column;

          a {
            color: var(--contrast);
          }
        }

        h4 {
          width: 100%;
          font-size: 1.4rem;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          line-height: 1.5rem;

          text-align: center;
          margin-top: 50px;
        }

        span {
          text-align: left;
          font-size: 1rem;
        }

        #tecnologias {
          width: 100%;

          display: flex;
          justify-content: center;

          .logo {
            width: 40px;
            height: 40px;

            margin: 0px 10px;
          }
        }
      }

      .box-next-page {
        right: 0;
        background: #b9b9b9;
        display: flex;
        align-items: center;
        height: 60vh;
        width: 40px;

        ion-button {
          height: 60vh;
          width: 40px;
        }

        .arrow {
          min-width: 35px;
          min-height: 35px;
          color: #6d6d6d;
        }
      }
    }
  }