#box-projects {
  background-color: #fff;

  display: flex;
  justify-content: space-between;
  
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  ion-list {
    background-color: #d0d0d0;
    width: 23vw;
    height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    z-index: 100;

    ion-item {
      width: 100%;

      ion-label {
        color: #000;
        font-family: "Bungee", cursive;
        text-align: center;
      }

      .selected {
        color: var(--contrast);
      }
    }
  }

  @media screen and (max-width: 850px) {
    ion-list {
      width: 30vw;

      ion-item {

        ion-label {
          font-size: .9rem;
        }
      }
    }
  }

  @keyframes show {
    from {
      opacity: 0;
      filter: blur(5px);
    }
    to {
      opacity: 1;
      filter: blur(0px);
    }
  }
  
  .box-project {
    display: flex;
    justify-content: space-between;
    display: block;

    animation: show .8s cubic-bezier(0.075, 0.82, 0.165, 1);

    .content {
      height: 60vh;
      width: 50vw;

      animation: show-content 0.4s ease-in-out;

      font-family: "Bungee", cursive;
      color: #000;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .swiper-container {
        width: 100%;
        height: 100%;
        position: relative;

        swiper-slide {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          img {
            object-fit: contain;
            height: 100%;
            width: 100%;
          }

          #deploy-box {
            flex-direction: column;
            font-size: clamp(.8rem, -1.5rem + 8vw, 1.3rem);

            a {
              color: var(--contrast);
            }
          }

          h4 {
            width: 100%;
            font-size: clamp(.8rem, -1.5rem + 8vw, 1.3rem);
            flex-shrink: 0;
            display: flex;
            align-items: center;
            line-height: 1.5rem;

            text-align: center;
            margin-top: 50px;
          }

          #tecnologias {
            width: 100%;

            display: flex;
            justify-content: center;

            .logo {
              width: 40px;
              height: 40px;

              margin: 0px 10px;
            }
          }
        }
      }

    }

    @media screen and (max-width: 850px) {
      .content {
        width: 65vw;
      }
   
    }
  }
}
