<ion-title>Projetos</ion-title>

<div class="box-projects"  [ngClass]="{'mobile': window.innerWidth <= 600}">
  <ion-list class="list-web" *ngIf="window.innerWidth >= 600; else mobile">
    <ion-item color="transparent" lines="none" button (click)="toggleProject('projeto1')" [ngClass]="{'selected': selectedProject === 'projeto1'}" id="projeto1">
      <ion-label>Wallet Manager</ion-label>
    </ion-item>
    <ion-item color="transparent" lines="none" button (click)="toggleProject('projeto2')" [ngClass]="{'selected': selectedProject === 'projeto2'}" id="projeto2">
      <ion-label>Controle Estoque</ion-label>
    </ion-item>
  </ion-list>
  

  <ng-template #mobile>
    <ion-list class="list-mobile">
      <ion-item color="transparent" lines="none" button (click)="toggleProject('projeto1')" [ngClass]="{'selected': selectedProject === 'projeto1'}" id="projeto1">
        <ion-label>Wallet Manager</ion-label>
      </ion-item>
      <ion-item color="transparent" lines="none" button (click)="toggleProject('projeto2')" [ngClass]="{'selected': selectedProject === 'projeto2'}" id="projeto2">
        <ion-label>Controle Estoque</ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
  
  <div *ngIf="selectedProject === 'projeto1'" class="box-project">
    <div class="content"  [ngClass]="{'content-mobile': window.innerWidth <= 600}">
      <swiper-container #swiper class="swiper-container" id="mySwiper" (slidechange)="swiperSlideChange($event)"
        [parallax]="true" [loop]="true" [autoplay]="true" (afterinit)="swiperReady()" pagination="true" pagination-dynamic-bullets="true" pagination-clickable="true" navigation="true" style="--swiper-navigation-color: var(--contrast); --swiper-pagination-color: var(--contrast)"> 

        <swiper-slide>
          <div class="content ion-padding-horizontal" [ngClass]="{'content-mobile': window.innerWidth <= 600}">
            <h4>Applicativo completo para gerenciar seus gastos em diferentes carteias, com gráficos e categorias
              para uma melhor experiência</h4>
            <div id="deploy-box">
              <p>Deploy em: <a href="https://wallet-manager2.netlify.app/home" target="_blank">
                  https://wallet-manager2.netlify.app/home</a></p>
            </div>
            <div id="tecnologias">
              <ion-icon class="logo" name="logo-angular"></ion-icon>
              <ion-icon class="logo" name="logo-ionic"></ion-icon>
              <ion-icon class="logo" name="logo-firebase"></ion-icon>
              <ion-icon class="logo" name="logo-sass"></ion-icon>
            </div>
          </div>

        </swiper-slide>

        <swiper-slide *ngFor="let image of imagesWallet">
          <img [src]="image">
        </swiper-slide>

      </swiper-container>
    </div>
  </div>

  <div *ngIf="selectedProject === 'projeto2'" class="box-project">
    <div class="content" [ngClass]="{'content-mobile': window.innerWidth <= 600}">
      <swiper-container #swiper class="swiper-container" id="mySwiper" (slidechange)="swiperSlideChange($event)"
        [parallax]="true" [loop]="true" [autoplay]="true" (afterinit)="swiperReady()" pagination="true" pagination-dynamic-bullets="true" pagination-clickable="true" navigation="true" style="--swiper-navigation-color: var(--contrast); --swiper-pagination-color: var(--contrast)"> 

        <swiper-slide>
          <div class="content ion-padding-horizontal" [ngClass]="{'content-mobile': window.innerWidth <= 600}">
            <h4>Applicativo desenvolvido para treinar SQL e Express, perfeito para gerenciar produtos de um estoque de qualquer empresa, com vários filtros e pesquisa</h4>

            <div id="deploy-box">
              <p>Deploy em: <a href="https://controle-estoque-sql.netlify.app/home" target="_blank">
                https://controle-estoque-sql.netlify.app/home</a></p>
              <p>Disponívem em: <a href="https://github.com/T0ntow/Controle-Estoque" target="_blank"> https://github.com/T0ntow/Controle-Estoque</a></p>
            </div>

            <div id="tecnologias">
              <ion-icon class="logo" name="logo-angular"></ion-icon>
              <ion-icon class="logo" name="logo-ionic"></ion-icon>
              <img  class="logo"  src="/assets/images/servidor-sql.png" alt="">
              <img  class="logo"  src="/assets/images/express.png" alt="">
              <ion-icon class="logo" name="logo-sass"></ion-icon>
            </div>
          </div>

        </swiper-slide>

        <swiper-slide *ngFor="let image of imagesControleEstoque">
          <img [src]="image">
        </swiper-slide>

      </swiper-container>
    </div>
  </div>

</div>