<ion-title>Certificados</ion-title>
<div class="courses">
  <ion-card color="dark">
    <ion-card-header color="dark">
      <span class="type">// Programação</span>
      <ion-card-title color="tertiary">Linguagem de Programação Java - Básico</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <a href="assets/curso-java-basico.pdf" download="Linguagem de Programação Java - Básico.pdf">
        <ion-button color="tertiary">
          Baixar Certificado
        </ion-button>
      </a>
    </ion-card-content>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header color="dark">
      <span class="type">// Programação</span>

      <ion-card-title color="tertiary">Desenvolvendo um Projeto Completo Python com Estruturas de Dados</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <a href="assets/curso-pyton.pdf" download="Desenvolvendo um Projeto Completo Python com Estruturas de Dados.pdf">
        <ion-button color="tertiary">
          Baixar Certificado
        </ion-button>
      </a>
    </ion-card-content>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header color="dark">
      <span class="type">// Programação</span>

      <ion-card-title color="tertiary">Linguagem de Programação Java - Avançado</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <a href="assets/curso-java-avancado.pdf" download="Linguagem de Programação Java - Avançado.pdf">
        <ion-button color="tertiary">
          Baixar Certificado
        </ion-button>
      </a>
    </ion-card-content>
  </ion-card>
</div>