<style>
  @import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&display=swap');
</style>

<app-header></app-header>

<ion-content #observer>
  <section id="section-home">
    <div id="sobre">
      <div id="title-box">
        <ion-title>Frontend Developer<span> |</span></ion-title>
      </div>

      <div id="subtitle-box">
        <h3>
          Tenho 19 anos sou desenvolvedor com diversos apps legais!
        </h3>

        <div id="logos">
          <a href="https://github.com/T0ntow" target="_blank">
            <ion-icon class="logo" name="logo-github"></ion-icon>
          </a>

          <a href="https://www.linkedin.com/in/wellington-batista-734a34220/" target="_blank">
            <ion-icon class="logo" name="logo-linkedin"></ion-icon>
          </a>
        </div>
      </div>
    </div>
  </section>

  <div class="divisao"></div>

  <section #observer id="section-projects" class="projects-box observer">
    <app-projects></app-projects>
  </section>

  <div class="divisao"></div>

  <section id="section-courses">
    <app-courses style="padding: 20px;"></app-courses>
  </section>

  <div class="divisao"></div>

  <app-linha-do-tempo #observer></app-linha-do-tempo>
  
  <div class="divisao"></div>

  <section id="section-contato" #observer class="observer">
    <app-contact></app-contact>
  </section>

</ion-content>