* {
  padding: 0;
  margin: 0;
  font-family: "Bungee", cursive;
  scroll-behavior: smooth;

  a {
    color: #ffffff;
    text-decoration: none;
  }
}

$contrast: #5260ff;

ion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 100;

  padding: 15px;

  background-color: rgba(0, 0, 0, 0.204);
  box-shadow: 0px 10px 10px -2px rgba(0, 0, 0, 0.33);

  .nav {
    font-size: 1.1rem;
    cursor: pointer;

    position: relative;
  }

  .nav::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--contrast);
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
  }

  .nav:hover::after {
    transform: scaleX(1);
  }

  div {
    width: 25%;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
  }
}

ion-content {
  #section-home {
    height: 100vh;
    background-color: black;

    img {
      position: absolute;
      top: 0;
      left: 0;

      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    #img2 {
      filter: opacity(0.3);
    }
  }

  #sobre {
    width: 60vw;
    margin: auto;
    text-align: center;

    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-70%);

    #title-box {
      ion-title {
        font-family: "Bungee Shade", cursive;
        font-style: normal;
        font-size: 3.5rem;

        text-transform: uppercase;
        width: 100%;

        white-space: nowrap;
        overflow: hidden;
        animation: type 4s steps(60, end);
      }

      span {
        animation: blink 1s infinite;
      }
    }

    #subtitle-box {
      font-size: 1.4rem;

      display: flex;
      justify-content: space-around;

      h3 {
        width: 60%;
        text-align: left;
      }

      #logos {
        display: flex;
        align-items: center;

        .logo {
          margin: 0px 10px;
          height: 40px;
          width: 40px;

          cursor: pointer;
        }

        .logo:hover {
          transition: all 0.2s ease-in-out;
          color: var(--contrast);
        }
      }
    }
  }

  #section-projects {
    height: 100vh;
    background: #1b1b1b;

    display: flex;
    align-items: center;
    justify-content: center;

    #box-projects {
      background-color: #fff;

      display: flex;
      justify-content: space-between;

      ion-list {
        background-color: #d0d0d0;
        width: 23vw;
        height: 60vh;

        display: flex;
        flex-direction: column;
        justify-content: center;

        ion-item {
          width: 100%;

          ion-label {
            color: #000;
            font-family: "Bungee", cursive;
            text-align: center;
          }

          .contrast {
            color: #4b3aa7;
          }
        }
      }

      #content {
        height: 60vh;
        width: 50vw;

        font-family: "Bungee", cursive;
        color: #000;
        padding: 10px 25px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        #deploy-box {
          flex-direction: column;

          a {
            color: #6a64ff;
          }
        }

        h4 {
          width: 100%;
          font-size: 1.4rem;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          line-height: 1.5rem;

          text-align: center;
          margin-top: 50px;
        }

        span {
          text-align: left;
          font-size: 1rem;
        }

        #tecnologias {
          width: 100%;

          display: flex;
          justify-content: center;

          .logo {
            width: 40px;
            height: 40px;

            margin: 0px 10px;
          }
        }
      }

      #box-next-page {
        background: #b9b9b9;
        display: flex;
        align-items: center;
        height: 60vh;
        width: 40px;

        #arrow {
          min-width: 35px;
          min-height: 35px;
          color: #6d6d6d;
        }
      }
    }
  }

  #section-contato {
    height: 100vh;
    background: #1b1b1b;

    display: flex;
    align-items: center;
    justify-content: center;

    ion-card {
      padding: 25px;
      width: 50vw;

      ion-button {
        margin-top: 10px;
        display: flex;
        align-items: center;
        align-items: center;
      }
    }
  }
}

@keyframes type {
  from {
    width: 10%;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  to {
    opacity: 0;
  }
}
