* {
  padding: 0;
  margin: 0;
  font-family: "Bungee", cursive;
  scroll-behavior: smooth;

  a {
    color: #ffffff;
    text-decoration: none;
  }
}

@keyframes show {
  from {
    transform: translateX(-40%);
  }

  to {
    transform: translateX(0);
  }
}

.observer {
  opacity: 0;
  filter: blur(10px);
  transition: all 1.2s;
}

.show {
  opacity: 1;
  filter: blur(0px);
  animation: show 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

ion-content {
  --ion-background-color: #1b1b1b;

  #section-home {
    height: 100vh;

    background: rgb(23,19,79);
    background: radial-gradient(circle, rgba(23,19,79,1) 0%, rgba(0,0,0,0.9921218487394958) 100%);
  }

  #sobre {
    width: 60vw;
    margin: auto;
    text-align: center;

    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-70%);

    #title-box {
      ion-title {
        font-family: "Bungee Shade", cursive;
        font-style: normal;
        font-size: clamp(1.5rem, 5vw, 3.2rem);

        text-transform: uppercase;

        white-space: nowrap;
        overflow: hidden;
        animation: type 4s steps(18, end);
        color: #fff;
      }

      span {
        animation: blink 1s infinite;
      }
    }

    #subtitle-box {
      display: flex;
      justify-content: space-around;
      color: #fff;

      h3 {
        width: 60%;
        text-align: left;
        font-size: clamp(0.9rem, 3vw, 1.3rem);
      }

      #logos {
        display: flex;
        align-items: center;

        .logo {
          margin: 0px 10px;

          width: clamp(25px, 3vw, 50px);
          height: clamp(25px, 3vw, 50px);

          cursor: pointer;
        }

        .logo:hover {
          transition: all 0.2s ease-in-out;
          color: var(--contrast);
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    #sobre {
      width: 80vw;
    }
  }

  @media screen and (max-width: 700px) {
    #sobre {
      width: 95vw;
    }
  }

  .divisao {
    margin: 10px 0px;
    width: 70%;
    height: 1px;
    background-color: #535353;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .divisao::after {
    content: "";

    position: absolute;
    height: 1px;
    width: 80%; /* Ou a largura desejada */
    background-color: #535353;
    top: 5px;
    left: 0;
    right: 0;
    margin: 0px auto;
  }

  #section-projects {
    height: 100vh;
    background: #1b1b1b;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  #section-contato {
    height: 100vh;
    background: #1b1b1b;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  #section-courses {
    height: 100vh;
    background: #1b1b1b;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes type {
  from {
    width: 0%;
  }
  to {
    width: 18ch;
  }
}

@keyframes blink {
  to {
    opacity: 0;
  }
}
